# Build & examples files
lib
examples
test

# macOS
.DS_Store

# IntelliJ IDEA
**/.idea/
**/*.iml

# Node module
**/node_modules

# Bower components
**/bower_components
bower.json
.gitignore
build.sh
gulpfile.js
*.tgz