<div style="text-align:center">
  <h1>
    Welcome to {{title}} angular demo!
  </h1>
  version:<code>{{version}}</code>
</div>

<div>
  <div>
    <label>
      <span>Simple hash</span>&nbsp;<input type="text" (keyup)="hashString($event)">
      <br><span><code>{{hash}}</code></span>
    </label>
  </div>
  <hr>
  <div>
    <label>
      <span>File hash</span>&nbsp;<input type="file" multiple (change)="hashFiles($event)">
      <ul *ngFor="let item of hashList">
        <li>
          <span>{{item.name}}:</span> <code>{{ item.hash || (item.progress && ( item.progress + '%' ) || '')}}</code>
        </li>
      </ul>
    </label>
  </div>
</div>

